body {
    margin: 0px;
}

#navigation {
    margin: 0px;
    padding: 0px;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    height: 30px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 5px;
    /* Adds shadow to the bottom of the bar */
    -webkit-box-shadow: 0px 0px 8px 0px #FFF;
    -moz-box-shadow: 0px 0px 8px 0px #FFF;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: #76C9F6;
    color: rgba(1, 1, 1, 0.3);
    
}
#navigation a {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    color: #101018;
    text-decoration: none;
    float: left;
}

#navigation #logo {
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 60px;
    color: white;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 10px;
/*For text outline
    text-shadow:
    -1px -1px 0 #FFFFCC,
    1px -1px 0 #FFFFCC,
    -1px 1px 0 #FFFFCC,
    1px 1px 0 #FFFFCC;  
*/
}

#navigation #logout {
    float: right;
    padding-right: 5%;
}

#navigation a:hover {
    color: grey;
} 

#navigation button {
    font-family: "Muli", sans-serif;
    font-size: 0.5em;
    text-align: center;
    height: 20px;
    vertical-align: middle;
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    background: transparent;
    padding: 0px;
}
#calendar {
    font-family: 'Gochi Hand', cursive;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#calendar td{
    width: 10%;
    font-size: 2em;
}

#calendar #title {
    font-size: 4em;
}

#calendar .label {
    padding: 30px;
}

#tag_listing {
    font-family: 'Muli', sans-serif;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
}

#post_photo {
    padding-top: 60px;
    width:600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
}

#post_photo .date {
    display: block;
    font-family: 'Gochi Hand', cursive;
}
#post_text {
    padding-top: 60px;
    width:600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top:80px;
    font-family: 'Muli', sans-serif;
}

#post_text .date {
    display: block;
    font-family: 'Gochi Hand', cursive;
}

@media all and (max-width: 767px) {
  .navbar { display: none; }
}

fieldset {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
}

#new_post_title {
    width: 90%;
}

.inside_form_text{
	font-family: "Muli", sans-serif;	
}

#new_post_content {
    width: 535px;
    height: 370px;
}

#tags_inside_form{
	width: 100%;
}
.ui-dialog.posting-dialog {
    position: relative;
    width: 800px;
    font-family: "Muli", sans-serif;
}

.dialog-form {
}
.ui-dialog-titlebar {
    font-family: "Muli", sans-serif;
    font-size: 2em;
    background: white;
}
form {
    width: 500px;
}

.ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }