#calendar {
    font-family: 'Gochi Hand', cursive;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#calendar td{
    width: 10%;
    font-size: 2em;
}

#calendar #title {
    font-size: 4em;
}

#calendar .label {
    padding: 30px;
}

#tag_listing {
    font-family: 'Muli', sans-serif;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:100px;
}

#post_photo {
    padding-top: 60px;
    width:600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
}

#post_photo .date {
    display: block;
    font-family: 'Gochi Hand', cursive;
}
#post_text {
    padding-top: 60px;
    width:600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Muli', sans-serif;
}

#post_text .date {
    display: block;
    font-family: 'Gochi Hand', cursive;
}

@media all and (max-width: 767px) {
  .navbar { display: none; }
}

fieldset {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
}

#new_post_title {
    width: 90%;
    height: 15px;
    float: right;
}

.inside_form_text{
	font-family: "Muli", sans-serif;	
}

#new_post_content {
    width: 535px;
    height: 370px;
}

#tags_inside_form{
	width: 100%;
}
/*
.ui-dialog.posting-dialog {
    position: relative;
    width: 800px;
    font-family: "Muli", sans-serif;
}

.dialog-form {
}
.ui-dialog-titlebar {
    font-family: "Muli", sans-serif;
    font-size: 2em;
    background: white;
}
form {
    width: 500px;
}

.ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
*/


.dialog-form {
  background:#000;
  border-radius: 4px;
  padding:30px;
  text-align:center;
  float:left;
  margin:5em 40em;
}
.dialog-form {
  width:350px;
}

.form-wrapper-01 {
  margin: 0;
  padding: 10px 0;
}
.form-wrapper-01 .inputbox {
  border: 1px solid #eaedf2;
  border-radius:3px;
  height: 20px;
  padding: 10px 0 10px 32px;
  width: 44%;
  outline:none;
  margin-bottom:10px;
  font-family: inherit;
}

.login-form .form-wrapper-01 .inputbox {
  width:88%;
}
.form-wrapper-01 .name {
  background:#eaedf2 url(img/user.png) 10px 13px no-repeat;
}
.form-wrapper-01 .email {
  background:#eaedf2 url(img/email.png) 10px 15px no-repeat;
}
.form-wrapper-01 .password {
  background:#eaedf2 url(img/password.png) 10px 10px no-repeat;
}
.form-wrapper-01 a.button {
  background: none repeat scroll 0 0 #14B9D5;
  border: none;
  border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
}
.form-wrapper-01 .button:hover {
  background:#0e778a;
}
.form-wrapper-01 a.button > i {
  font-size:20px;
}

#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}